.pagination {
  background-color: gainsboro;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5em;
  color: white;
  padding-left: 1em;
  padding-bottom: 0.5em;
  width: 100%;
  height: 3em;
  border: 2px solid blue;
}

.numPage {
  cursor: pointer;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  padding: 0.2em;
  transition: all 0.3s ease;
}

.numPage:hover {
  background-color: orange;
}

.active {
  background-color: orange;
  color: gray;
}
