.productFeedback {
  border: 1px saddlebrown solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20em;
}

.ratingBlock {
  display: flex;
  flex-direction: row;
  gap: 0.25em;
}
