.productFeedback {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5em;
  width: 20em;
  height: 10em;
}

.ratingBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25em;
}

.linkCurrentReview {
  cursor: pointer;
  color: orange;
}

.loadingBlock {
  height: 10em;
}
