.ratingBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(58, 123, 184);
  height: 1.75em;
}

.starBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
}
