.ratingBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 1.75em;
}

.starBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
}

.starBlock svg {
  stroke: orange;
}
