.review {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  padding: 0.5em;
  background-color: rgb(102, 99, 99);
}

.nameDateReview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nameBlock {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.firstLetter {
  border-radius: 50%;
  background-color: black;
  color: orange;
  font-weight: bold;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
