.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  pointer-events: auto;
}

.popupHidden {
  opacity: 0;
  pointer-events: none;
}

.popupWrapper {
  width: 20em;
  background-color: rgb(68, 66, 66);
  border-radius: 4px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.buttonBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.registerLink {
  transition: all 0.3s ease;
  color: rgb(255, 153, 0);
  width: 100%;
}

.btnReview {
  width: 100%;
}

.registerLink:hover {
  color: rgb(255, 100, 0);
}

.btnReview:hover,
.btnClose:hover {
  background-color: black;
}
