.productCart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.linkPhoto {
  display: flex;
  justify-content: center;
}

.containerImg {
  width: 125px;
  height: 100px;
  display: flex;
  justify-content: center;
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: center;
}

.priceBlock {
  display: flex;
  gap: 0.5em;
}

.crossText {
  text-decoration: line-through;
}

.orangeText {
  color: orange;
}
