.productCart {
  border: 3px solid rgb(84, 206, 14);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

a {
  text-decoration: none;
  color: black;
}

.linkPhoto {
  display: flex;
  justify-content: center;
}

.containerImg {
  width: 5em;
  height: 4em;
  display: flex;
  justify-content: center;
  border: 1px solid red;
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
  border: 3px solid salmon;
}
