.productMenu {
  background-color: gainsboro;
  color: white;
  padding-bottom: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  width: 100%;
  border: 3px solid salmon;
}

.selectsBlock {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonSort {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
