.cart {
  display: flex;
  align-items: start;
  width: 80%;
  border: 1px solid rgb(24, 206, 24);
  padding: 0.5em;
  gap: 0.5em;
  position: relative;
}

.cartItems {
  display: flex;
  flex-direction: column;
  width: 80%;
  border: 3px solid orange;
}

.cartItem {
  border: 3px solid rgb(245, 1, 123);
  display: flex;
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.quantityBlock {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 3px solid blue;
}

.buttonQuantity {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
}

.promoCodeBlock {
  width: 100%;
  border: 1px solid salmon;
}

.buttonsPromoCode {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

.promoCodeInput {
  width: 100%;
}

.orderBlock {
  width: 19%;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buttonClean,
.buttonOrder {
  width: 100%;
}

.buttonOrder {
  font-weight: bold;
}

.sumTotalBlock {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.sumTotal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorPromoCode {
  background: #ff4444;
  color: white;
  border-radius: 8px;
}

.successPromoCode {
  background: #47d64c;
  color: white;
  border-radius: 8px;
}
