.cart {
  display: flex;
  align-items: start;
  justify-content: space-around;
  width: 100%;
  padding: 0.5em;
  gap: 0.5em;
  position: relative;
}

.cartItems {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.cartItem {
  display: flex;
  justify-content: space-around;
  background-color: rgb(102, 99, 99);
  border-radius: 0.25em;
  padding: 0.5em;
}
.quantityBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 0.5rem;
}

.quantityBtns {
  display: flex;
  flex-direction: row;
}

.buttonQuantity {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
}

.orderBlock {
  background-color: rgb(102, 99, 99);
  width: clamp(100px, 25%, 250px);
  position: sticky;
  top: 4.5em;
  display: flex;
  flex-direction: column;
  border-radius: 0.25em;
  padding: 0.5em;
  gap: 0.5em;
}

.promoCodeBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.promoCodeInput {
  width: 100%;
  color: black;
  border-radius: 0.5em;
  border: 0.25em solid rgb(247, 196, 101);
  background-color: rgb(247, 196, 101);
}

.buttonsPromoCode {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

.buttonClean,
.buttonOrder {
  width: 100%;
}

.buttonPromoCode {
  background-color: gainsboro;
  width: 50%;
}

.buttonQuantity:hover,
.buttonClean:hover,
.buttonOrder:hover,
.buttonPromoCode:hover {
  background-color: black;
  color: orange;
}

.buttonQuantity svg:hover {
  stroke: orange;
}

.buttonOrder {
  font-weight: bold;
  height: 2.25em;
}

.sumTotalBlock {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.sumTotal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorPromoCode {
  background: #ff4444 !important;
  color: white !important;
  border-radius: 8px !important;
}

.successPromoCode {
  background: #47d64c !important;
  color: white !important;
  border-radius: 8px !important;
}

.loading {
  height: 40em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerLink {
  transition: all 0.3s ease;
  color: rgb(255, 153, 0);
}

.registerLink:hover {
  color: rgb(255, 100, 0);
}
