.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  border: 1px solid red;
}

.mainShop {
  display: flex;
  gap: 0.5em;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.isLoadingProducts {
  width: clamp(400px, 70%, 720px);
  display: flex;
  justify-content: center;
  align-items: center;
}
