.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.mainShop {
  display: flex;
  width: 100%;
  padding: 0.5em;
}

.isLoadingProducts {
  width: clamp(400px, 70%, 720px);
  border: 2px solid rgb(159, 159, 247);
}
