.inputBlock {
  width: 20em;
  position: relative;
}

.searchField {
  width: 100%;
  padding-right: 2em; /* Место под крестик */
  box-sizing: border-box;
}

.divClear {
  color: black;
  position: absolute;
  right: 0;
  top: 0;
  width: 1em;
  height: 1em;
  cursor: pointer;
  opacity: 0.5;
}
