.containerImg {
  max-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid rgb(33, 141, 11);
}

.mainProductImg {
  width: 5e;
  height: 3em;
  object-fit: cover;
}
