.header {
  width: 100%;
  background-color: rgb(102, 99, 99);
  border: 1px red solid;
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
}

.logoWrapper {
  border: 1px solid yellow;
}

.logoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header img {
  width: 3em;
  height: 2em;
}

.header h1 {
  color: orange;
  font-size: 0.75em;
}
