.header {
  width: 100%;
  background-color: rgb(102, 99, 99);
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.logoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header img {
  width: 3em;
  height: 2em;
}

.header h1 {
  color: rgb(255, 153, 0);
  font-size: 0.75em;
}
