.productList {
  display: flex;
  justify-content: start;
  border: 3px salmon solid;
  max-width: 80%;
  flex-wrap: wrap;
}

.productItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px black solid;
  width: 5em;
}

.productName {
  border: 2px red dotted;
  height: 3em;
}

.productPrice {
  border: 2px blue dotted;
  text-align: right;
}
