.actionProduct {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 18em;
}

.actionText {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 3;
}

.containerImg {
  width: 22em;
  height: 18em;
  overflow: hidden;
  flex: 4;
}

.imageWrapper {
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.imageWrapper.fadeOut {
  opacity: 0;
}

.imageWrapper.fadeIn {
  opacity: 1;
}

.textBlock {
  font-size: 150%;
  color: white;
  font-weight: bold;
}

.orangeText {
  color: orange;
}

.priceBox {
  display: flex;
  flex-direction: row;
}

.crossText {
  text-decoration: line-through;
}

.btnsBlock {
  display: flex;
  gap: 1em;
  width: 100%;
}

.btnMain {
  font-weight: bold;
  padding: 1em;
  background-color: orange;
  color: black;
  height: 3em;
}

.btnCart {
  height: 2.25em;
  background-color: gainsboro;
}

.btnCart svg {
  stroke: rgb(102, 99, 99);
  transition: 0.3s;
}

.btnCart:hover svg {
  stroke: orange;
}

.btnMain:hover {
  background-color: rgb(102, 99, 99);
  color: orange;
}
