.containerImg {
  width: 20em;
  height: 15em;
  border: 4px solid brown;
  overflow: hidden;
}

.imageWrapper {
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.imageWrapper.fadeOut {
  opacity: 0;
}

.imageWrapper.fadeIn {
  opacity: 1;
}

.redText {
  color: red;
}

.priceBox {
  display: flex;
  flex-direction: row;
}

.crosstextDecoration {
  text-decoration: line-through;
}
