.sidebar {
  background-color: rgb(102, 99, 99);
  width: clamp(100px, 20%, 250px);
  border-radius: 0.25em;
  padding: 0.5em;
  align-self: flex-start;
}

.filterCategory {
  display: flex;
  flex-direction: column;
}

.priceInputs {
  display: flex;
  justify-content: space-between;
}

.priceInput {
  width: 4em;
  color: rgb(102, 99, 99);
}
