.sidebar {
  background-color: rgb(102, 99, 99);
  width: clamp(100px, 20%, 250px);
  border-radius: 0.25em;
  padding: 0.5em;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.filterCategory {
  display: flex;
  flex-direction: column;
}

.categoryLabel {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.filterPrice {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.priceInputs {
  display: flex;
  justify-content: space-between;
}

.priceInput {
  width: 4em;
  color: rgb(102, 99, 99);
}

.btnFilter:hover {
  background-color: black;
}
