.productItem {
  border: 2px solid rgb(207, 241, 16);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerImg {
  width: 5em;
  height: 4em;
  border: 2px solid brown;
}

.arrows {
  display: flex;
  justify-content: space-around;
  border: 1px solid red;
}

.arrow {
  cursor: pointer;
}
