.productItem {
  border: 2px solid rgb(207, 241, 16);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

a {
  text-decoration: none;
  color: black;
}

.linkPhoto {
  display: flex;
  justify-content: center;
}

.containerImg {
  width: 5em;
  height: 4em;
  display: flex;
  justify-content: center;
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.25em;
}

.crossText {
  text-decoration: line-through;
}

.redText {
  color: red;
}
