.productItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(102, 99, 99);
  border-radius: 0.25em;
  padding: 0.25em 0;
  max-width: 206px;
}

.productName {
  display: flex;
  justify-content: center;
  padding: 0.25em;
}

.priceBlock {
  display: flex;
  padding-left: 1.5em;
  padding-top: 0.25em;
  gap: 0.5em;
}

.productData {
  padding: 0 1.5em;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.productRatingReview {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnReview {
  background-color: gainsboro;
  height: 1.5em;
  color: rgb(102, 99, 99);
}

.btnCart {
  height: 2.25em;
  background-color: orange;
  color: rgb(102, 99, 99);
}

.btnReview:hover,
.btnCart:hover {
  background-color: black;
  color: orange;
}

.btnCart svg {
  transition: 0.3s;
  stroke: rgb(102, 99, 99);
}

.btnCart:hover svg {
  stroke: orange;
}

.linkPhoto {
  display: flex;
  justify-content: center;
}

.containerImg {
  width: 150px;
  height: 120px;
  display: flex;
  justify-content: center;
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.crossText {
  text-decoration: line-through;
}

.orangeText {
  color: orange;
}
