@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

.appContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
