.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.Link {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
}

.Link:hover {
  cursor: pointer;
  color: rgb(255, 153, 0);
}

.cartContainer {
  position: relative;
}

.cartCount {
  position: absolute;
  background-color: rgb(255, 153, 0);
  color: rgb(102, 99, 99);
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  top: -0.5em;
  right: -0.5em;
}
